body {
	margin: 0 auto;
	background-image:url("../img/1.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center; 
}
main {width:100%;
	margin-top: 0%;
	
}
header {
	width:100%;
	height:100px;
	text-align: center;
	color:white;
	
}
#me{ 
padding:2%;

}
.img-circle {
    border-radius: 50%;
	width: 10%;
    height: 20%;	
	position:absolute;
	right: 44%;
	margin-top: 4%;
	border: 5px solid #fff;
	
}
ul.nav {
    list-style-type: none;       	
}

ul.nav li {
	float: left;
	padding-top:10%;
    padding-left:5%;	
}

ul.nav li a {
    display: block;
    text-align: center;
    padding: 14px 26px;
    text-decoration: none;
	font-family:Verdana;
	font-size:18px;
	font-weight: bold;
	color:black;

}
#links{
	margin-top: 10%;
	position: relative;
	margin-left: 18%;
}
.container{
	width:100%;
	height: 500px;
	margin:auto;
	background-color:white;
}

.skill{
	width:50%;
	height:400px;
	margin-left:25%;
	text-decoration: underline red;
	color:white;
	
}


a {
  text-decoration: none;
  position: relative;
  color: red;
}
a:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  border-bottom: 2px solid red;
  transition: 0.4s;
}
a:hover:after {
  width: 100%;
}
@media screen and (max-width: 600px){
    ul.nav li.right, 
    ul.nav li {float: none;}
}


footer {
   position:relative;
   bottom:0px;
   width:100%;
   height:60px;   /* Height of the footer */
   background-color:#C0C0C0;
   text-align: center;
}


.intro {
	padding-top:1%;
	margin-left: 27%;
	width:47%;
    -webkit-column-count: 2; /* Chrome, Safari, Opera */
    -moz-column-count: 2; /* Firefox */
    column-count: 2;
}
.foo {
  float: left;
  width: 150px;
  height: 150px;
  margin: 0px;
  border: 1px solid rgba(0, 0, 0, .2);
}

.blue {
  background:#B0C4DE;
}

.white {
  background:#FFFFFF	;
}


