body {
	margin: 0 auto;
	background-color:	#4682B4;
}
main {width:100%;
	/* margin-top: 4%; */
	
}

header {
	width:100%;
	height:4%;
	text-align: center;
	color:white;
	line-height: 70%;
}

#me h1{
	font-size:20px;
}
#me p{
	font-size:15px;
}
	/* h1 { */
  /* font-size: 1.25em; */
  /* text-align: center; */
  /* background: #444; */
  /* color: #eee; */
  /* margin: 0; */
  /* padding: 0.5em; */
/* } */
.img-circle {
    border-radius: 50%;
	width: 90px;
    height: 100px;	
	margin:1% auto;
	display:block;
	border: 5px solid #fff;	
}
	.tab_container{
	width:100%;
	height: 500px;
	margin:auto;
	background-color:white;
}
	.intro {
	padding-top:1%;
	margin-left: 2%;
	width:95%;
    -webkit-column-count: 2; /* Chrome, Safari, Opera */
    -moz-column-count: 2; /* Firefox */
    column-count: 2;
}
.column {
        width: 100%;
    }
.skill{
	width:98%;
	height:210px;
	margin-left:2%;
	text-decoration: underline red;
	color:white;
	font-weight: bold;
	padding-bottom:5%;
}
.foo{
  box-sizing:border-box;
  float: left;
  width: 20%;
  height:30%;
  margin: 0px;
  border: 1px solid rgba(0, 0, 0, .2);
  text-align: center;
}


.coo {
  /* float: left; */
  width: 100%;
  height: 300px;
  margin: 0px;
  text-align: center;
}
.left {
  width: 100%;
  height: 400px;
  margin: 0px;
  text-align: center;
}
table{  
	
	padding-left:0%;
}
footer {
   position:relative;
   bottom:0px;
   width:100%;
   height:60px;   /* Height of the footer */
   background-color:#C0C0C0;
   text-align: center;
}
.contact{
	width:100%;
	height:700px;
	
	color:white;	
}
 .tab_container > input,
 section {
  display: none;
  padding: 1em;
  clear: both;
}
.wiki>label{
	width:100%
}

label {
  display: block;
  box-sizing: border-box;
  float: left;
  width: 25%;
  color: #000;
  cursor: pointer;
  text-decoration: none;
  text-align: center;
  font-weight:bold;
  line-height: 3em;
 
}
/* hides the tab text but leaves the icons visible: */
label span {
  display: none;
}


#tab1:checked ~ #content1,
#tab2:checked ~ #content2,
#tab3:checked ~ #content3,
#tab4:checked ~ #content4{
  display: block;
}
[id^="tab"]:checked + label {
 
  color: #ff6347;
}
[id^="tab"]:checked + label .fa {
  color: #090;
}

.tab-content {
  background: #fff;
}
label > .fa {
  margin-right: 10px;
  
}

.tab_container section * {
  animation: fadeIn 0.7s ease-in-out;
}

.container1 {
    position: relative;
    width: 100%;
    float:left;
    padding-left:2%;
	background: url("../img/cricket.png");
}
 /* .Homer { */
    /* height:165px; */
    /* width:140px; */
    /* background: url('URL-of-static-image'); */
    /* margin:auto; /*position the [div] on the center*/ */
  /* } */
  /*this is the hover event trigger*/
  .container1:hover {
    cursor:pointer; 
    background:url("../img/football.png");
  }


.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  bottom: 0%;
  left: 55%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%)
}

.text {
  
  color: blue;
  font-size: 1em;
  font-weight:bold;
  
}


@media screen and (min-width:680px) {
	

.img-circle {
    border-radius: 50%;
	width: 90px;
    height: 100px;	
	margin:1% auto;
	display:block;
	border: 5px solid #fff;
	
}
.container1 {
    position: relative;
    width: 200px;
	height: 150px;
	background-repeat: no-repeat;
    background-size: 200px 150px;
    float:left;
     margin-left:1%; 
	padding-top:4%;
}
.container1:hover {
    cursor:pointer; 
    background:url("../img/crc.gif");
	width: 200px;
	height: 150px;
	background-repeat: no-repeat;
    background-size: 200px 150px;
  }

h1 {
    font-size: 2em;
  }
  /* shows the tab text and the icons: */
  label span {
    display: inline;
  }
  label > .fa {
  margin-right: 10px;
  display: none;
  
}
.top{
	width:100%;
	
	background-color:white;
}
.tab_container{
	width:80%;
	height:450px;
	margin:auto;
	background-color:white;
}
.info #searchForm label{
	width:100%;
	
	text-align:left;
}
label {
  display: block;
  box-sizing: border-box;
  float: center;
  width: 25%;
  margin-left:auto;
  color: #000;
  cursor: pointer;
  text-decoration: none;
  text-align: center;
  font-weight:bold;
  line-height: 3em;
  font-size:1.5em;
 
 
}


.nav {
  text-decoration: none;
  position: relative;
  
}
.nav:after {
  content: '';
  position: absolute;
  bottom: -4px;
  left: 0;
  width: 0%;
  border-bottom: 2px solid red;
  transition: 0.4s;
}
.nav:hover:after {
  width: 100%;
}
.intro {
	padding-top:1%;
	margin-left:5%;
    -webkit-column-count: 2; Chrome, Safari, Opera
    -moz-column-count: 2; Firefox
    column-count: 2;
}
/* Create three equal columns that floats next to each other */
.column {
    float: left;
    width: 28%;
	padding-left:5%;
   font-size:.8em;
    
}

.year{color:#B0C4DE;}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}
.skill{
	width:35%;
	height:400px;
	margin-left:10%;
	text-decoration: underline red;
	color:white;
	font-weight: bold;
	padding-bottom:5%;
	float:left;
}

.wiki{
	width:100%;
	padding-top:2%;
	height:400px;
}
.foo {
  float: left;
  width: 20%;
  height: 30%;
  margin: 0px;
  border: 1px solid rgba(0, 0, 0, .2);
  /* display: inline-flex; */
  padding-top:2em;
  align-items: center;
  text-align:center;
}


.coo {
  float: left;
  width: 50%;
  height: 400px;
  margin: 0px;
  text-align: center;
}
table{  
	
	padding-left:40%;
}
footer {
   position:relative;
   /* bottom:10px; */
   width:100%;
   height:60px;   /* Height of the footer */
   background-color:#C0C0C0;
   text-align: center;
   margin-top:2%;
   
}
.contact{
	width:100%;
	height:400px;
	margin-top:2%;
	color:white;	
}
footer {
   position:relative;
   bottom:0;
   width:100%;
   height:60px;   /* Height of the footer */
   background-color:#C0C0C0;
   text-align: center;
}



}







.blue {
  background:#B0C4DE;
   
   color:blue;
}

.white {
  background:#FFFFFF;
   
   color:red;
}


.left {
  background:#1A5276; 
   color:#FFFFFF;
}
.left h1{
	text-decoration: underline red;
}


th, td {
    padding: 10px;
    text-align: left;   
    border-collapse: collapse;	
}

.right {
  background:#B0C4DE;
  color:black;
}
.right h1{
	text-decoration: underline red;
}
  input[type=text]{
    width:80%;
    border:2px solid #aaa;
    border-radius:4px;
    margin:8px;
    outline:none;
    padding:8px;
    box-sizing:border-box;
    transition:.3s;
  }
 
  input[type=text]:focus{
    border-color:dodgerBlue;
    box-shadow:0 0 8px 0 dodgerBlue;
  }
  
  .inputWithIcon input[type=text]{
    padding-left:40px;
  }
  
  .inputWithIcon{
    position:relative;
  }
  
  .inputWithIcon i{
    position:absolute;
    left:10%;
    top:8px;
    padding:9px 8px;
    color:#aaa;
    transition:.3s;
  }
  
  .inputWithIcon input[type=text]:focus + i{
    color:dodgerBlue;
  }
  input[type=submit] {
    background-color: white; 
    color: black;
	width:100px;
	height:30px;
    border-radius: 12px;
	
   
}

   input[type=submit]:hover {
    background-color: #1E90FF;
    color: white;
}


  

